.loading-screen {
	width: 100%;
	height: 100%;
	background-color: #252526;
	position: absolute;
	top: 0px;
	left: 0px;
}

.loading-screen .content {
	position: relative;
	width: 315px;
	height: 100px;
	top: 50%;
	margin-top: -50px;
	left: 50%;
	margin-left: -150px;
}

.loading-screen .content div {
	display: inline-block;
}

.loading-screen .content .text {
	width: 250px;
}

.loading-screen .content .loading-icon {
	width: 50px;
}

.loading-screen .content .loading-icon img {
	width: 100%;
}

.hidden {
	display: none;
}

body {
	background-color: #252526;
	overflow-y: hidden;
	font-size: 16px;
	color: #9A9A9B;
}

.CodeMirror {
	background-color: #1E1E1E;;
	color: #3E5335;
	height: 100%;
}

.CodeMirror-cursor {
	border-left-color: #9A9A9B !important;
}

#ribbon-area {
	height: 30px;
}

#ribbon-area button {
	background-color: transparent;
	border-style: none;
	color: #9A9A9B;
}

#ribbon-area button:hover {
	color: ghostwhite;
	cursor: pointer;
}

#ribbon-area .ribbon-group {
	display: inline;
	margin: 0px 10px;
}

#ribbon-area .ribbon-group.right {
	float: right;
}

.small {
	font-size: 11px;
}

input[type="text"] {
	background-color: rgb(87, 87, 87);
	color: #9A9A9B;
	border-style: none;
	padding: 0 5px;
	border-radius: 3px;
}



.debug-pill {
	width: 100px;
	height: 20px;
	color: brown;
	background-color: #A57D49;
	border-radius: 5px;
  	display: inline-block;
  	margin: 5px;
}

.debug-pill .index {
	height: 100%;
	display: inline-block;
	padding-left: 5px;
	min-width: 25px;
	background-color: rgb(98, 79, 55);
	border-radius: 5px 0px 0px 5px;
}

.debug-pill .data {
	text-align: right;
	display: inline-block;
	padding-right: 5px;
	float: right;
	min-width: 50px;
}

.debug-pill .debug-info-popup {
	position: absolute;
	background-color: #1E1E1E;
	border-radius: 5px;
	color: #9A9A9B;
	margin-left: 38px;
  	padding: 0px 5px;
	display: none;
}

.debug-pill:hover {
	cursor: pointer;
}

.debug-pill:hover .debug-info-popup {
	display: block;
}


/*#console-area {
	height: 80%;
}*/

/*#editor-area {
	height: 15%;
}*/

.ui-splitbar {
	background-color: #2E2F30;
	cursor: row-resize;
}

div[ui-splitbar]:nth-child(2) {
	/*display: none;*/
}







#dev-ribbon {
	background-color: rgb(87, 87, 87);
	padding: 5px;
	margin-top: 20px;
	top: -20px;
	position: relative;
}

#dev-ribbon p {
	margin: 0px;
}

#dev-ribbon .tab {
	text-decoration: none;
	margin: 0px 20px;
	color: ghostwhite;
	display: inline;
}



#dev-ribbon .tab:hover {
	/*color: ghostwhite;*/
	cursor: pointer;
}

#dev-ribbon .tab.hidden {
	color: #9A9A9B;
}

#console-container, #debug-container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	position: relative;
	top: -25px;
}


/*Custom Bf-lang styles for Code Mirror*/

.cm-pointer-mover {
	color: #A57D49;
}

.cm-pointer-operator {
	color: brown;
}

.cm-io-operator {
	color: #C08871;
}

.cm-loop-operator {
	color: #569CD6;
}

.CodeMirror-matchingbracket {
	color: darkolivegreen !important;
}

.debug-breakpoint {
	background-color: yellow;
}