body {
	background-color: #101017;
}

.CodeMirror {
	background-color: #1D1D25;
	height: auto;
}

.CodeMirror-cursor {
	border-color: white;
}

#ribbon-area {
	height: 30px;
}

.ui-splitbar {
	background-color: saddlebrown;
}