<!doctype html>
<html data-ng-app="app" data-ng-csp="">
  <head>
    <meta charset="UTF-8">
    <title>Brain Truck IDE</title>
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    
    <link rel="stylesheet" href="js/codemirror-5.4/lib/codemirror.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/icomoon.css">
  </head>
  <body>
    <div id="container" ng-controller="MainCtrl as main" ui-layout="{ flow : 'row' }">
      <div id="ribbon-area" ui-layout-container>
        <div class="ribbon-group">
          <button id="button-open"><span class="icon-folder-open"></span></button>
          <button id="button-save"><span class="icon-floppy-disk"></span></button>
        </div>
        <div class="ribbon-group">
          <button id="button-run" data-ng-click="main.run(main.input, main.code())"><span class="icon-play3"></span></button>
        </div>
        <div class="ribbon-group">
          <input type="text" ng-model="main.input" placeholder="Input" />
        </div>
      </div>
      <div id="editor-area" ui-layout-container height-watch></div>
      <!--<div class="ui-splitbar"></div>-->
      <div id="console-area" ui-layout-container height-watch>
        <div>
          <p>Test</p>
        </div>
        <div>
          <p ng-repeat="item in main.results">
            {{item}}
          </p>
        </div>
      </div>
    </div>
    <script src="./js/vendor/angular-1-1-4.js"></script>
    <script src="./js/ui-layout.js"></script>
    <script src="js/codemirror-5.4/lib/codemirror.js"></script>
    <script src="js/codemirror-5.4/mode/javascript/javascript.js"></script>
    <script src="js/codemirror-5.4/addon/mode/simple.js"></script>
    <script src="js/codemirror-5.4/addon/edit/matchbrackets.js"></script>
    <script src="js/codemirror-5.4/addon/edit/closebrackets.js"></script>
    <script src="js/bfmode.js"></script>
    <!--<script src="./js/vendor/angular-route.min.js"></script>-->
    <script src="./js/app.js"></script>
    <script src="./js/CerebrumIrrumabo.js"></script>
  </body>
</html>